

body{
    background: rgb(255,0,224);
background: linear-gradient(90deg, rgba(255,0,224,0.2137897395286239) 0%, rgba(0,212,255,0.42947601403842783) 100%);
}

.comment{
    font-size:1.3rem;
}

.comment span {
    font-weight: bold;
    color: rgba(255, 0, 0, 0.74);
}